node_modules
venv
staticfiles
node_modules
thunder-tests
.continue
.vscode
logs
db.sqlite3
cert.key
cert.pem
.git
build
python
test_login.py
create_su.py
package-lock.json
package.json
Dockerfile.backend
Dockerfile.frontend
Dockerfile
docker-compose.yml
start_project.bat
run_https.py
requirements_backup.txt
.venv
.env
.env.local
*.pyc
__pycache__
*.sqlite3