# Python
__pycache__/
*.pyc
*.pyo
db.sqlite3
*.sqlite3
logs/
venv/
python/
.env
.env.local

# Node
node_modules/
build/

# SSL certs
cert.key
cert.pem

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
Desktop.ini

# Docker
docker-compose.override.yml

# Test outputs
thunder-tests/