# Django Secret Key
SECRET_KEY='django-insecure-replace-this-with-a-real-secret-key-in-production'

# Debug mode
DEBUG=True

# Database Configuration
DATABASE_URL=postgresql://postgres:Nikhilrajput11@db.lqnzzpfypipkawujfprq.supabase.co:5432/postgres

# Allowed hosts
ALLOWED_HOSTS=localhost,127.0.0.1

# CORS Configuration
CORS_ALLOWED_ORIGINS=http://localhost:3000

# Celery Configuration
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

# Supabase Configuration
SUPABASE_URL=https://lqnzzpfypipkawujfprq.supabase.co
SUPABASE_KEY=CHANGE_ME
